@page "{Id:long}"
@using MasterArticleBloger.Pages
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MasterArticleBloger.Pages.Detail_ArticleModel
@{
    ViewData["Title"] = "ArticleDetails";
}

<main class="post blog-post col-lg-12">
    <div class="container">
        @{
            if (Detail_ArticleModel.CommentStatus == "Succeed")
            {
                <div class="alert alert-success d-flex justify-content-center p-2 text-bold " role="alert">
                    <span class="d-flex justify-content-center align-items-center text-big"> Your Comment Was Sent Successfully</span>
                </div>
                Detail_ArticleModel.CommentStatus = "";
     
            }
        }
        <div class="post-single">
            <div class="post-thumbnail">
                <img src="@Model.Article.Image" alt="@Model.Article.Title" title="@Model.Article.Title" class="img-fluid">
            </div>
            <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                    <div class="category">
                        <a href="#">@Model.Article.ArticleCategory</a>
                    </div>
                </div>
                <h1>
                    @Model.Article.Title
                    <a href="#">
                        <i class="fa fa-bookmark-o"></i>
                    </a>
                </h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="date">
                            <i class="icon-clock"></i> @Model.Article.CreationDate</div>
                        <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                    </div>
                </div>
                <div class="post-body">
                    <p>
                        @Model.Article.Title
                    </p>
                    @Model.Article.Content
                </div>
            </div>
            <div class="post-comments">
                <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments">(3)</span></h3>
                </header>
                <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                        <div class="user d-flex align-items-center">
                            <div class="image"><img src="img/user.svg" alt="..." class="img-fluid rounded-circle"></div>
                            <div class="title"><strong>Jabi Hernandiz</strong><span class="date">May 2016</span></div>
                        </div>
                    </div>
                    <div class="comment-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
            </div>

            <div class="add-comment">
                <header>
                    <h3 class="h6">Leave a reply</h3>
                </header>
                <form class="commenting-form" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input asp-for="Comment.Name" placeholder="Name" class="form-control">
                            <span asp-validation-for="Comment.Name" class="text-red"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" asp-for="Comment.Email" placeholder="Email Address (will not be published)" class="form-control">
                            <span asp-validation-for="Comment.Email" class="text-red"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <textarea asp-for="Comment.Message" placeholder="Type your comment" class="form-control"></textarea>
                            <span asp-validation-for="Comment.Message" class="text-red"></span>
                        </div>
                        <input type="hidden" asp-for="Comment.ArticleId" value="@Model.Article.Id"/>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-secondary">Submit Comment</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>